#for streamlit
streamlit==1.2.0
streamlit-webrtc==0.31.3
aiortc==1.2.1
av
simpleaudio
click==7.1.2
#for Deep learning model
tensorflow==2.5

#for handling image
opencv-python-headless==4.5.5.64
opencv-contrib-python-headless==4.5.5.64
mediapipe
cvzone
Pillow

#other
matplotlib
numpy
